@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/Poppins-Regular.ttf');
}

nav {
    /* position: fixed; */
    top: 0;
    left: 0;
    position: sticky;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    box-shadow: 2px 2px 3px rgb(70, 70, 70);
}

.menu-bar.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    transition: all 0.3s ease-out;
}

.menu-bar.scroll-on .logo img {
    height: 24px;
    transition: all 0.3s ease-out;
}

nav .logo img {
    height: 50px;
}

.nav-right {
    display: flex;
    position: absolute;
    right: 0;
}

.nav-link {
    color: #212121;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #8167a9;
}

.nav-item.active .nav-link {
    color: #777;
}

.nav-link {
    position: relative;
    padding: 5px 0;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #8167a9;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
    padding: 10px;
    margin: 0 5px;
    font-family: 'Poppins', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    padding: 0;
    list-style: none;
}

.nav-links li {
    margin: 0 5px;
}

.nav-item {
    color: #fff;
    text-decoration: none;
}


.dropdown-menu {
    padding: 10px;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}

nav .dropdown:hover .dropdown-menu {
    display: block;
}

nav .dropdown-item {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #212121;
    border-radius: 2px;
    transition: all 400ms linear;
}

nav .dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: rgba(129, 103, 169, .6);
    width: 100%;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropdown-content {
    position: absolute;
    top: 50px;
    right: 0;
    min-width: 250px;
    padding: 10px;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}

.profile-dropdown .show .dropdown-content {
    display: block;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

#display-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info h4 {
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile-info p {
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
}

.navigation {
    width: 100%;
    background-color: #fcfaff;
}

.button img {
    width: 25px;
    float: left;
}

.logout {
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    position: relative;
    right: 0px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .85s;
    -webkit-transition: opacity .85s;

}

.button {
    text-decoration: none;
    float: right;
    margin: 10px;
    color: rgb(0, 0, 0);
    width: 25px;
    background-color: #fcfaff;
    transition: width .55s;
    -webkit-transition: width .55s;
    overflow: hidden;
}

a:hover {
    width: 100px;
}

a:hover .logout {
    opacity: .9;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .nav-right {
        display: flex;
        flex-direction: column;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }
}